<section id="{{name|escape('html_attr')}}" class="fanferret-checklist fanferret-question {% if hasOther %}fanferret-other{% endif %}">
	<div class="fanferret-question-title">{{title}}</div>
	<div class="fanferret-question-input">
		<ul class="fanferret-checklist-options">
			{% for option in options %}
			<li class="fanferret-checklist-option">
				<div class="fanferret-checklist-option-radio">
					<input class="form-check" type="radio" name="{{name|escape('html_attr')}}_group" value="{{loop.index0|escape('html_attr')}}">
				</div>
				<div class="fanferret-checklist-option-label">
					{{option}}
				</div>
			</li>
			{% endfor %}
			{% if hasOther %}
			<li class="fanferret-checklist-option fanferret-checklist-option-other">
				<div class="fanferret-checklist-option-radio fanferret-checklist-option-other-radio">
					<input class="form-check" type="radio" name="{{name|escape('html_attr')}}_group" value="other">
				</div>
				<div class="fanferret-checklist-option-label fanferret-checklist-option-other-label">
					Other
				</div>
				<div class="fanferret-checklist-option-other-text" style="display:none;">
					<input class="form-control" type="text">
				</div>
			</li>
			{% endif %}
		</ul>
	</div>
</section>
{% include 'FanFerretQuestionBundle:Question:add.html.twig' with {'name': name, 'dependency': 'checklist'} %}