<section class="fanferret-conditional-nested fanferret-question {% if negative %}fanferret-conditional-nested-negative{% endif %}" id="{{name|escape('html_attr')}}">
	<div class="row">
		<div class="col-md-5 col-lg-6">
			<div class="fanferret-question-title">{{title}}</div>			
		</div>
		<div class="col-md-7 col-lg-6">
			<div class="fanferret-question-input">
				<ul class="fanferret-conditional-nested-options">
					<li class="fanferret-conditional-nested-option">
						<a href="javascript:void(0);" data-value="true">Yes</a>
					</li>
					<li class="fanferret-conditional-nested-option">
						<a href="javascript:void(0);" data-value="false">No</a>
					</li>
				</ul>				
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	(function () {
		var handle = fanFerret.register();
		require(['survey/question/conditionalnested'],function (cn) {
			handle(function () {
				var g = fanFerret.currentGroup();
				var question = new cn(
					{{name|json_encode()|raw}},
					g,
					localStorage,
					document
				);
				g.addQuestion(question);
				fanFerret.pushAddQuestion(function (q) {
					question.addQuestion(q);
				});
			});
		});
	})();
</script>
<section class="fanferret-conditional-nested-children" id="{{name|escape('html_attr')}}_nested">
	{% for question in nested %}
	{{question.render()|raw}}
	{% endfor %}
</section>
<script type="text/javascript">
	fanFerret.register()(function () {	fanFerret.popAddQuestion();	});
</script>