{% extends 'FanFerretQuestionBundle:Admin:base.html.twig' %}

{% set args = {'slug': survey.slug, 'perpage': per_page} %}
{% if survey.slugGroup != null %}
{% set route = 'fgms_question_admin_comment_cards_group' %}
{% set route_delivery = 'fgms_question_admin_delivery_group' %}
{% set args = args|merge({'sluggroup': survey.slugGroup}) %}
{% else %}
{% set route = 'fgms_question_admin_comment_cards' %}
{% set route_delivery = 'fgms_question_admin_delivery' %}
{% endif %}

{% block content %}
<h1>Comment Cards</h1>
<div class="fanferret-comment-cards-result-count">
	{{count}} results
</div>
{% block pagination %}
<div class="fanferret-comment-cards-pagination">
	{% if page != 0 %}
	<a href="{{path(route,args|merge({'page': page}))|escape('html_attr')}}">
		<i class="fa fa-caret-left"></i>
	</a>
	{% endif %}
	Page {{page + 1}} of {{pages}}
	{% if page + 1 != pages %}
	<a href="{{path(route,args|merge({'page': page + 2}))|escape('html_attr')}}">
		<i class="fa fa-caret-right"></i>
	</a>
	{% endif %}
</div>
{% endblock %}
<table class="table">
	<thead>
		<tr>
			<th rowspan="2">Checkout</th>
			<th colspan="2">Survey</th>
			<th colspan="2">First Email</th>
			<th colspan="2">Second Email</th>
		</tr>
		<tr>
			<th>Viewed</th>
			<th>Completed</th>
			<th>Sent</th>
			<th>Viewed</th>
			<th>Sent</th>
			<th>Viewed</th>
		</tr>
	</thead>
	<tbody>
		{% set fmt = 'M j, Y' %}
		{% for session in sessions %}
		<tr>
			<td>{{session.checkout|date(fmt)}}</td>
			<td>{% if session.seen %}{{session.seen|date(fmt)}}{% endif %}</td>
			<td>{% if session.completed %}{{session.completed|date(fmt)}}{% endif %}</td>
			{% set notifications = session.surveyNotifications %}
			{% if notifications|length == 0 %}
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			{% else %}
			<td>{{notifications[0].sent|date(fmt)}}</td>
			<td>{% if notifications[0].seen %}{{notifications[0].seen|date(fmt)}}{% endif %}</td>
			{% if notifications|length > 1 %}
			<td>{{notifications[1].sent|date(fmt)}}</td>
			<td>{% if notifications[1].seen %}{{notifications[1].seen|date(fmt)}}{% endif %}</td>
			{% else %}
			<td></td>
			<td></td>
			{% endif %}
			{% endif %}
		</tr>
		{% endfor %}
	<tbody>
</table>
{{block('pagination')}}
{% endblock %}

{% block nav %}
<div class="col-md-8">
	{% if delivery %}
	<a class="btn btn-primary" href="{{path(route_delivery,args)|escape('html_attr')}}">Schedule a Delivery</a>
	{% endif %}
</div>
{{parent()}}
{% endblock %}