{% extends 'FanFerretQuestionBundle:Admin:base.html.twig' %}

{% form_theme form _self %}

{% block date_widget %}
<div class="input-group date" data-provide="datepicker-inline" data-date-format="yyyy-mm-dd">
	<input type="text" class="form-control" name="form[{{name|escape('html_attr')}}]" id="{{id|escape('html_attr')}}" required="{{required ? 'required' : ''}}" value="{{value|escape('html_attr')}}">
	<div class="input-group-addon">
		<span class="glyphicon glyphicon-th"></span>
	</div>
</div>
{% endblock %}

{% block head %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/fanferretquestion/css/bootstrap-datepicker3.standalone.min.css')|escape('html_attr')}}">
<script type="text/javascript">
	require(['bootstrap-datepicker.min'],function () {	});
</script>
{% endblock %}

{% block content %}
<h1>Digital Comment Card Delivery </h1>

{% if session %}
{% include 'FanFerretQuestionBundle:Admin:surveysessioncreated.html.twig' with {'sessions': [session]} %}
{% endif %}
{{form_start(form)}}
	{{form_errors(form)}}
	<div class="row">
		<label for="{{form.first_name.vars.id|escape('html_attr')}}" class="col-md-4">First Name</label>
		<div class="col-md-8">{{form_widget(form.first_name,{'attr': {'class': 'form-control'}})}}</div>
	</div>
	<div class="row">
		<label for="{{form.last_name.vars.id|escape('html_attr')}}" class="col-md-4">Last Name</label>
		<div class="col-md-8">{{form_widget(form.last_name,{'attr': {'class': 'form-control'}})}}</div>
	</div>
	<div class="row">
		<label for="{{form.email.vars.id|escape('html_attr')}}" class="col-md-4">Email</label>
		<div class="col-md-8">{{form_widget(form.email,{'attr': {'class': 'form-control'}})}}</div>
	</div>
	<div class="row">
		<label for="{{form.room.vars.id|escape('html_attr')}}" class="col-md-4">Room Number</label>
		<div class="col-md-8">{{form_widget(form.room,{'attr': {'class': 'form-control'}})}}</div>
	</div>
	<div class="row">
		<label for="{{form.checkout.vars.id|escape('html_attr')}}" class="col-md-4">Checkout Date</label>
		<div class="col-md-8">{{form_widget(form.checkout)}}</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-8">{{form_widget(form.submit,{'attr': {'class': 'form-control'}})}}</div>
	</div>
{{form_end(form)}}
{% endblock %}

{% block nav %}
<div class="col-md-12">
	<div class="bottom-nav-container">
		{% if comment_cards %}
		{% set args = {'survey': survey.slug, 'property': survey.property.slug} %}
		{% if survey.property.group != null %}
		{% set route = 'fanferret_admin_comment_cards_group' %}
		{% set args = args|merge({'group': survey.property.group.slug}) %}
		{% else %}
		{% set route = 'fanferret_admin_comment_cards' %}
		{% endif %}
		<a class="btn btn-primary" href="{{path(route,args)|escape('html_attr')}}">View All Comment Cards</a>
		{% endif %}
		<a class="btn btn-primary" href="{{path('fanferret_admin')|escape('html_attr')}}">View All Surveys</a>
	</div>
</div>
{% endblock %}