{% extends 'FanFerretQuestionBundle:Admin:base.html.twig' %}

{% block content %}
<div class="admin-header">
	<h1>Upload Checkout Data</h1>
	<div class="subtitle">{{survey.name}}</div>
	<div class="property">{{survey.property.name}}</div>	
	<p>CSV format upload is 1st column Date, 2nd Column as email with date format of 'Y-m-d H:i' with the first row being a heading row.</p>
</div>
{% if emails is not same as(null) %}
<div class="fanferret-email-import-verify">
	{% if emails|length > 0 %}
	<h2>The following emails are available for import:</h2>
	<form method="POST">
		{% for email in emails|sort %}
		<div class="checkbox">			
			<label >
				<input type="checkbox" value="{{email|escape('html_attr')}}" name="emails[]" checked />
				{{email}}
			</label>
		</div>
		{% endfor %}
		<div style="margin-top: 15px;">
			<button type="submit" name="submit" class="btn btn-primary" value="emails">Add Emails</button>
		</div>

	</form>
	{% else %}
	<h2>No emails available for import</h2>
	{% endif %}
</div>
{% endif %}
{% if sessions is not same as(null) %}
{% include 'FanFerretQuestionBundle:Admin:surveysessioncreated.html.twig' with {'sessions': sessions} %}

{% endif %}

{% if emails == false %}
<div class="form-email-import-upload">
	{{form_start(form)}}
		{{form_errors(form)}}
		<div class="form-group">
			<label for="{{form.file.vars.id|escape('html_attr')}}" class="col-md-4">File</label>
			{{form_widget(form.file)}}
		</div>
		<div class="form-group">		
			{{form_widget(form.submit,{'attr': {'class': 'btn btn-primary'}})}}
		</div>
	{{form_end(form)}}
</div>
{% endif %}

{% endblock %}
{% block nav %}
	<span class="btn-survey-actions"><a class="btn btn-primary" href="{{path('fgms_question_admin')|escape('html_attr')}}"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Back to Index</a></span>
	{{parent()}}
{% endblock %}