{% extends 'FanFerretQuestionBundle:Admin:base.html.twig' %}

{% block content %}
<h1>Property Management Import Tool</h1>
{% if emails is not same as(null) %}
<div class="fanferret-email-import">
	{% if emails|length > 0 %}
	<h2>The following emails are available for import:</h2>
	<form method="POST">
		{% for email in emails|sort %}
		<div class="row">
			<div class="col-md-4"><input type="checkbox" value="{{email|escape('html_attr')}}" name="emails[]" checked></div>
			<label class="col-md-8"><a href="mailto:{{email|escape('html_attr')}}">{{email}}</a></label>
		</div>
		{% endfor %}
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-8"><button type="submit" name="submit" class="form-control" value="emails">Submit</button></div>
		</div>
	</form>
	{% else %}
	<h2>No emails available for import</h2>
	{% endif %}
</div>
{% endif %}
{% if sessions is not same as(null) %}
{% include 'FanFerretQuestionBundle:Admin:surveysessioncreated.html.twig' with {'sessions': sessions} %}
{% endif %}
{{form_start(form)}}
	{{form_errors(form)}}
	<div class="row">
		<label for="{{form.file.vars.id|escape('html_attr')}}" class="col-md-4">File</label>
		<div class="col-md-8">{{form_widget(form.file)}}</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-8">{{form_widget(form.submit,{'attr': {'class': 'form-control'}})}}</div>
	</div>
{{form_end(form)}}
{% endblock %}