<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
	<body>
		<p>Thank you for your recent visit to {{session.survey.property.name}}.  We hope you had a wonderful stay with us and and that you might take a moment to share your experience using our online Guest Comment Card.  Your candid feedback is invaluable, as it allows us to continually improve our property and service for future guests.</p>
		<p>Here is a link to the comment card to get started:</p>
		<a href="{{url('fanferret_survey',{'token':session.token})}}">{{session.survey.property.name}} Guest Survey</a>
		<p>On behalf of all of us at {{session.survey.property.name}}, thank you again for your time to complete the comment card and we hope to see you again very soon.</p>
		<p>Warmest Regards,</p>
        <p>
    	{{session.survey.params.notifications.name | default('Fanferret Team')}}<br />
		{% if session.survey.params.notifications.jobtitle %}{{session.survey.params.notifications.jobtitle}}<br />{% endif%}
		{% if session.survey.params.notifications.email %}<a href="mailto:{{session.survey.params.notifications.email}}" target="_blank">{{session.survey.params.notifications.email}}</a><br /><br />{% endif%}
		{% if session.survey.params.notifications.phone %}{{session.survey.params.notifications.phone}}{% endif%}	
        </p>
		{# TRACKING PIXEL #}<img src="{{url('fanferret_notification_seen',{'token':notification.token})}}">
	</body>
</html>