{% extends 'FanFerretQuestionBundle:Survey:base.html.twig' %}

{% block head %}
	{{parent()}}
	<script type="text/javascript" src="/bundles/fanferretquestion/js/survey/survey.js"></script>
{% endblock %}

{% block body %}
	{{form_start(form)}}
	{{form_end(form)}}
	{{parent()}}
{% endblock %}

{% block content %}
	{% if survey.params.logo is defined %}
	<img src="{{survey.params.logo|escape('html_attr')}}">
	{% endif %}
	{% if survey.params.title is defined %}
	<h1>{{survey.params.title}}</h1>
	{% endif %}
	<div id="survey-carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">
		<ol class="carousel-indicators">
			{% for num in 0..groups|length - 1 %}
			<li data-target="#survey-carousel" data-slide-to="{{num|escape('html_attr')}}" {% if num == 0 %}class="active"{% endif %}></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner" role="listbox">
			{% for group in groups %}
			<div class="carousel-item item {% if loop.index0 == 0 %}active{% endif %}" data-index="{{loop.index0|escape('html_attr')}}">
				{{group.render()|raw}}
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="fanferret-survey-buttons">
		{% if groups|length > 1 %}
		<button class="btn btn-primary btn-md fanferret-survey-button-previous" disabled>Previous</button>
		{% endif %}
		<button class="btn btn-primary btn-md fanferret-survey-button-next" disabled>Next</button>
	</div>
{% endblock %}