<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/bundles/fanferretquestion/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/bundles/fanferretquestion/css/survey.css">
		<script type="text/javascript" src="/bundles/fanferretquestion/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/bundles/fanferretquestion/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/bundles/fanferretquestion/js/require.js" data-main="/bundles/fanferretquestion/js/app.js"></script>
		<script type="text/javascript" src="/bundles/fanferretquestion/js/survey/survey.js"></script>
		<style type="text/css">
			{% for selector, rules in styles %}
			{{selector|raw}} {
				{% for rule, value in rules %}
				{{rule|raw}}: {{value|raw}}
				{% endfor %}
			}
			{% endfor %}
		</style>
	</head>
	<body>
		{{form_start(form)}}
		{{form_end(form)}}
		<div class="container">
			{% if survey.params.logo is defined %}
			<img src="{{survey.params.logo|escape('html_attr')}}">
			{% endif %}
			{% if survey.params.title is defined %}
			<h1>{{survey.params.title}}</h1>
			{% endif %}
			<div id="survey_carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">
				<div class="carousel-inner" role="listbox">
					{% for group in groups %}
					<div class="carousel-item item {% if loop.index0 == 0 %}active{% endif %}">
						{{group.render()|raw}}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="fanferret-survey-buttons">
				<button class="btn btn-primary btn-md fanferret-survey-button-previous" disabled>Previous</button>
				<button class="btn btn-primary btn-md fanferret-survey-button-next" disabled>Next</button>
			</div>
		</div>
	</body>
</html>